@using BRDObjects

<style>
    .vertical-center-wrapper {
        position: relative;
        margin: auto auto;
        width: 30%;
    }

    .login-title {
        text-align: center;
        margin-bottom: 2em;
    }

    .width-100 {
        width: 100%;
    }

    .comfortable-margin {
        margin: 15px;
    }

    .align-text-center {
        text-align: center;
    }
</style>

<div class="vertical-center-wrapper">
    <div id="login-form" class="form-group">
        <h2 class="login-title">Reset Password</h2>
        @if (TempData["AlertMsg"] != null)
        {
            <div class="alert alert-danger comfortable-margin align-text-center" role="alert">
                @TempData["AlertMsg"]!.ToString()
            </div>
        }
        @model Customer
        @using (Html.BeginForm("TriggerResetPassword", "Admin", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <input type="password" required name="currentPassword" placeholder="Current Password" class="form-control" />
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Password", required = true })
            @Html.PasswordFor(x => x.TemporaryPassword, new { @class = "form-control", placeholder = "Password", required = true })

            <br />
            <input type="submit" value="Set Password" class="form-control" />
        }
    </div>
</div>